In [22]:
import pandas as pd
import numpy as np
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from textblob import Word
from autocorrect import Speller
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv('../../data/Tweets.csv')
data = df[['text','airline_sentiment']]

In [24]:
data.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   text               14640 non-null  object
 1   airline_sentiment  14640 non-null  object
dtypes: object(2)
memory usage: 228.9+ KB

### __Data Cleaning__
1. Missing Values
2. Data Types
3. Duplicates

In [32]:
# checking for missing values
data.isnull().sum()

text                 0
airline_sentiment    0
dtype: int64

In [33]:
# checking the description of the data
data.describe()

                                                     text airline_sentiment
count                                               14427             14427
unique                                              14427                 3
top     @AmericanAir we have 8 ppl so we need 2 know h...          negative
freq                                                    1              9080

In [34]:
# ensuring that the "text" and "airline_sentiment" columns has unique datatypes
num_text_types = data['text'].apply(type).nunique()
num_sentiment_types = data['airline_sentiment'].apply(type).nunique()
print(f"n of datatypes in 'text': {num_text_types}")
print(f"n of datatypes in 'airline_sentiment': {num_sentiment_types}")

n of datatypes in 'text': 1
n of datatypes in 'airline_sentiment': 1

In [35]:
# gettting the row value of the duplicated rows in text column
duplicate_count = data['text'].duplicated().sum()
print(f"n of duplicate rows in 'text': {duplicate_count}")

n of duplicate rows in 'text': 0

In [36]:
# dropping the duplicated rows in "text" column
data = data.drop_duplicates(subset=['text'])

In [37]:
# checking the description of the data after dropping the duplicated rows
data.describe()

                                                     text airline_sentiment
count                                               14427             14427
unique                                              14427                 3
top     @AmericanAir we have 8 ppl so we need 2 know h...          negative
freq                                                    1              9080

### __Text Preprocessing__
1. Lowercasing
2. Punctuation & Special Characters Removal
3. URLs Removal
4. User Mentions Handling
5. Hashtags Handling
6. Tokenization
7. Stop Words Removal
8. Lemmatization

In [ ]:
### __Data Cleaning__
1. Missing Values
2. Data Types
3. Duplicates